html, body {
    background-color: #fff;
    color: #fff;
    /*color: #636b6f;*/
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
    /*background-image: url("https://planetteched.com/best-classroom-management-software/img/bestclassroommanagement.jpg");*/
    background-image: url("../imgs/bg-welcome.jpg");
    background-repeat: no-repeat;
    background-size : cover;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    /*display: flex;*/
    text-align: center;
    padding-top : 20%;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #fff;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.burn {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity : 0.6;
    z-index : 1;
}

.p-1{
  padding : 1rem;
}
.font-weight-bold{
  font-weight: bold;
}
.font-30{
  font-size : 30px !important;
}
.search-class {
  padding : 0px 10px;
}
#form-search{
  padding-top : 20px;
}
.search-title{
  padding-left : 10px;
}
.test{
  border : 1px solid red;
}
.class-item{
  padding : 10px;
  border-radius : 10px;
  height : 150px;
  margin : 10px;
  border : 1px solid gray;
}
.header-class{
  border-radius : 10px 10px 0px 0px;
  width : 95%;
  padding : 5px;
  position: absolute;
  left: 2.5%;
  top: 0;
  
  /*background-color : #33A243;*/
}
.header-class h6{
  font-weight : 700;
}
.body-class-img{
  background-size : cover;
  background-repeat: no-repeat;
  background-position: center;
  height : 100%;
  width: 90%;
  margin : auto;
  opacity: 0.6;
}
.body-subject{
  position: absolute;
  left: 2.5%;
  bottom: 0;
  padding : 5px;
  font-weight : 700;
}
.class-action{
  position: absolute;
  bottom : 0;
  right : 1%;
  display : none;
  z-index : 100;
}
.class-item:hover{
  /*opacity: 0.3;*/
}
.class-item:hover .class-action{
  display : block;
}
.wrap{
  margin-top : 20px;
}
/*// my-class*/
.join-class{
  margin-top : 30px;
  padding-left : 15px;
  padding-right : 15px;
}
#join-class{
  display : inline-block;
}
#input-class-code{
  width : 20%;
  height : 30px;
  display : inline;
  padding-top: 2px;
  margin-left : 30px;
}
.view-class{
  position: absolute;
  top : 0;
  right : 1%;
  display : none;
}
.class-item:hover .view-class{
  display: block;
}
.invitations{
  margin-top : 10px !important;
}

.box-title{
  display : block !important;
  padding : 5px 0px;
}
.btn-box-header{
  /*display : block !important;*/
  width: 180px;
}
.group-btn{
  padding-top : 10px;
}
.teacher-name{
  padding : 20px 0px;
  text-align : center;
  font-size : 24px;
}
.teacher-name .name{
  font-size : 30px;
  font-weight : bold;
  color : #3c8dbc;
}
hr{
  color : gray;
}
.document-title{
  font-size : 24px;
}
.btn-box-header a{
  color : white;
  font-weight : bold;
}
.delete-document{
  background: none;
    border: 0px;
    outline : none;
}
/*//comment*/
.wrap-comment{
    width: 90%;
    margin: auto;
}
.avatar-comment{
    display: flex;
}
.avatar-comment img{
    width: auto;
    height: 5rem;
}
.comment-item{
    margin-top: 5px;
    margin-bottom: 10px;
}
.content-comment textarea{
    height: 80%;
    width: 100%;
}
.commentor{
    padding-top: 10px;
}
.delete-comment{
    cursor: pointer;
}
.delete-comment:hover{
    text-decoration: underline;
}
.font-weight-bold{
  font-weight: bold;
}
.admin{
  background-color : yellow;
}